@media (min-width: 1200px) {
    .container {
        width: 1000px !important;
    }
    .theme-default .nivoSlider img {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        height: 419px;
    }
}

@media screen and (max-width: 600px) {
    ._top_cart {
        display: none;
    }
    .top_logo {
        text-align: center;
    }
    #floating-phone {
        display: block!important;
    }

}
.container iframe {width: 100%; height: 400px}