@media (min-width: 1200px) {
    .container {
        width: 1000px !important;
    }
    .theme-default .nivoSlider img {
        position: absolute;
        top: 0px;
        left: 0px;
        display: none;
        height: 419px;
    }
}

@media screen and (max-width: 600px) {
    ._top_cart {
        display: none;
    }
    .top_logo {
        text-align: center;
    }
    #floating-phone {
        display: block!important;
    }
}
.navbar-default .navbar-nav > .active{
    color: #000;
    background: #d65c14 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000 !important;
    background: #d65c14 !important;
}

.container iframe {width: 100%; height: 400px}

div.title, h1.title {
    border-bottom: 1px solid #d4d4d4;
    float: left;
    font-size: 16px;
    /* font-weight: bold; */
    font-size: 24px;
    font-family: bebas;
    line-height: 1.35;
    margin: 0 0 10px;
    padding-bottom: 5px;
    text-transform: uppercase;
    width: 100%;
    /* text-align: center; */
    /* padding-top: 34px; */
    color: #000;
    margin-top: 0;
    padding-top: 0;
}
.item-custom {
    margin-bottom: 40px;
}